@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
}

h1 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0px;
}

p {
  font-family: "Roboto";
  margin: 0px;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
  overflow-x: clip;
  padding: 0px 5vw;
  gap: 3vh;
}

main > h1 {
  text-align: center;
  margin-bottom: 5vh;
}

main {
  gap: 5vh;
  padding-bottom: 5vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
  gap: 30px;
}

footer {
  padding: 5vh 0px 0px;
  gap: 3vh;
  align-items: flex-start;
  background-color: #0891b2;
  color: white;
}

footer > :not(img) {
  padding: 0px 3vh;
}

footer > img {
  width: 100%;
  object-fit: cover;
}

footer > h1 {
  margin: auto;
}

.profile {
  height: 400px;
  width: 300px;
  margin: auto;
  background-image: url("img/profile.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 1px 1px 8px black;
}

.profile > h1 {
  color: white;
  font-weight: normal;
  position: absolute;
  font-size: 4rem;
  bottom: 0%;
  left: 10%;
  margin: 0px;
}

.profile-container > p {
  font-size: 1.3rem;
  line-height: 30px;
  color: #3e3e3e;
  margin-bottom: 5vh;
}

address {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

address > a > img {
  width: 32px;
}

.project-card {
  max-width: 320px;
  height: 350px;
  box-shadow: 1px 1px 8px black;
  display: grid;
  grid-template-rows: 60% 2fr 3fr;
  grid-template-columns: 60% 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.project-card > a > img {
  width: 24px;
}

.project-card > a:nth-child(4) {
  justify-self: flex-start;
}

.project-card > img {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
  font-family: "Playfair Display";
  font-size: 2rem;
  padding: 20px;
  color: white;
}

.project-card > p {
  grid-column: 1 / 4;
  padding: 0px 10%;
  font-size: 1.2rem;
  align-self: flex-start;
}

.project-card:nth-of-type(1) > img {
  background-color: blueviolet;
}

.project-card:nth-of-type(2) > img {
  background-color: orange;
}

.project-card:nth-of-type(3) > img {
  background-color: limegreen;
}

.project-card:nth-of-type(4) > img {
  background-color: palevioletred;
}

.project-card:nth-of-type(5) > img {
  background-color: navy;
}

.project-card:nth-of-type(6) > img {
  background-color: darkmagenta;
}

footer > p:nth-of-type(1) {
  font-size: 1.3rem;
}

footer > p {
  font-size: 1.1rem;
}

.blue-decoration {
  position: absolute;
  background-color: #0891b2;
  transform-origin: bottom left;
  transform: rotateZ(-15deg) translateY(-20vh);
  height: 800px;
  width: 2000px;
  z-index: -1;
  box-shadow: 1px 1px 8px black;
}

.profile-container > h1 {
  text-align: center;
}

.profile-container {
  margin-bottom: 5vh;
}

@media (min-width: 600px) {
  footer > h1 {
    margin-left: 0px;
  }

  footer {
    padding: 5%;
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(5, 5vh);
    grid-template-columns: 3fr 2fr;
  }

  footer > p,
  footer > h1,
  footer > address {
    padding: 0px;
  }

  footer > address {
    width: 50%;
    justify-content: flex-start;
  }

  footer > img {
    grid-row: 1 / 6;
    grid-column: 2 / 3;
    height: 100%;
  }

  header {
    margin-top: 20vw;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }

  .profile-container > address {
    display: none;
  }

  .profile-container {
    max-width: 80%;
    height: 60vw;
    padding: 0 5vw 5vw;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px black;
  }

  .profile {
    float: left;
    top: -13%;
    left: -13%;
    width: 40%;
    height: 60%;
    transform: scale(1.5);
  }

  .profile > h1 {
    bottom: 70%;
    left: 80%;
    font-size: 2.5rem;
    width: 200%;
  }
}

@media (min-width: 1200px) {
  header {
    margin-top: 5vh;
  }

  footer {
    grid-template-columns: 2fr 3fr;
  }

  .profile-container {
    max-width: unset;
    width: 60%;
    height: 400px;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .profile-container > h1 {
    margin: 0px;
    margin-top: 5vh;
    font-size: 2rem;
    text-align: start;
  }

  .profile-container > p {
    margin: 0px;
    line-height: unset;
    font-size: 1.1rem;
  }

  .profile {
    grid-row: 1 / 4;
    float: none;
    top: -3%;
    left: -10%;
    height: 400px;
    width: 300px;
    transform: scale(1.1);
  }

  .profile > h1 {
    width: 100%;
    font-size: 4rem;
    bottom: 0%;
    left: 10%;
  }

  .profile-container > address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5vh;
  }
}
